/*---Google fonts--- */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

/*---Components design--- */
@import url("Components/avatar.css");
@import url("Components/button.css");
@import url("Components/icons.css");
@import url("Components/navbar.css");
@import url("Components/form.css");
@import url("Components/card.css");
@import url("Components/landing.css");
@import url("Components/codigoRegalo.css");
@import url("Components/registroHeroe.css");
@import url("Components/perfilHeroe.css");
@import url("Components/misRegalosHeroe.css");
@import url("Components/agradecimiento.css");
@import url("Components/preguntasFrecuentes.css");
@import url("Components/logIn.css");
@import url("Components/donar.css");
@import url("Components/misProductosComercio.css");

/*---Fonts--- */

body{
    background-color:white;
    font-family: "Poppins Sans-serif",sans-serif;
    font-weight: 400;
    color: #2E2C2C;
}

h1{
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    color: #2E2C2C;
}

h2, h3, h4, h6{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: #2E2C2C;
}

.container{
    max-width: 90%;
}


/* Solid border */
hr.solid {
    border-top: 0.1rem solid #96D293;
}


.volver{
    font-size: small;
    color: #96D293 !important;
}
