
/*---Shop card--- */
.card{
    height: 14.2rem;
    position: relative;
    border: 2px solid #eee;
    border-radius: 0.5rem;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-image{
    position: absolute;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 14rem;
    width: 14em;
}

.card-description{
    position: absolute;
    top: 1rem;
    left: 14rem;
    right: 1rem;
}

.card-description h3{
    font-size: 20px;
}

.card-contenedor-btn{
    position: absolute;
    padding: 1em;
    border-radius: 6px;
    bottom: -1rem;
    right: .5rem;
}

.card-contenedor-btn p{
    margin-top: .6em;
}

.card-btn{
    bottom: 1rem;
    right: 1rem;
}

.card-btn a{
    color: #fff;
}

.card-availability{
    bottom: 1rem;
    left: 1rem;
}

#card-reputation{
    margin-bottom: 1rem !important;
}


/*---Product card--- */

.card-product{
    height: 44rem;
    width: 100%;
    position: relative;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-image-product{
    width: 27.7rem;
    position: relative;
    margin: 0rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-description-product{
    position: absolute;
    text-align: center; 
    border-top: 1px solid #eee;
    top: 31rem;
    left: 0rem;
    right: 0rem;
    padding: 1em;
}

.card-index-product{
    position: relative;
    text-align: center;
    top: .6rem;
    width: 94%;
    left: 1.6rem;
    background-color: #eee;
    border:1px solid #eee;
    border-radius: 6px;
}

.card-index-product label{
    top: .2rem;
}

.card-btn-product{
    position: absolute;
    bottom: 0rem;
    left: 1rem !important;
    right: 1rem !important;
}


/*---Profile card--- */
.card-profile{
    height: 15rem;
    position: relative;
    border:none;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 0;
}

.card-image-profile{
    position: relative;
    height: 15rem;
    width: 15rem;
    margin-top: 3rem;
}

.card-description-profile{
    margin-top: 3rem;
}


.card-btn-profile{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}

.card-availability-profile{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#card-reputation{
    margin-bottom: 1rem !important;
}


/*---map card--- */

.card-map{
    height: 8rem;
    position: relative;
    border:none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: small;
}

.card-image-map{
    position: absolute;
    height: 5rem;
    width: 5rem;
}

.card-description-map{
    position: absolute;
    bottom: auto;
    left: 6rem;
    right: 1rem;
    top: auto;
}

.card-description-map > p{
    margin: 0.5rem 0 0.5rem 0;
}

.card-btn-map{
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}

.card-availability-map{
    position: absolute;
    left: 0;
    bottom: 0;
}
.card-availability-map > p {
    margin:0;
}
#card-reputation{
    margin-bottom: 1rem !important;
}


/*---report card---*/

.card-report {
    padding: 4em;
    background-color: #EAF6E9;
    border-radius: 6px;
    align-content: center;
    width: 100%;
    border:1px solid #eee;
}

.card-report p {
    font-size: 30px;
}


@media handheld, (min-width:992px) and (max-width:1220px) {
    .card-image{
        height: 14rem;
        width: 14em;
    }
    .card-image-product{
        width: 27.7rem;
    }
}

@media handheld, (min-width:0px) and (max-width:991px) {
    .card{
        height: 8.2rem;
    }

    .card-contenedor-btn{
        position: absolute;
        padding: .2em;
        border-radius: 6px;
        bottom: -.8rem;
        right: .5rem;
    }

    .card-availability p{
        font-size: 10px;
    }

    .card-btn a{
        font-size: 10px;
    }

}

@media handheld, (min-width:991px) and (max-width:1280px) {
    .card-product{
        height: 41rem;
    }
    .card-description-product{
        top: 26.4rem;
    }
    .card-image-product{
        width: 100%;
    }
}


@media handheld, (min-width:720px) and (max-width:991px) {

    .card-product{
        height: 28rem;
        width: 200%;
    }

    .card-image-product{
        width: 22rem;
        left: -1rem;
        border-radius: 0px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .card-description-product{
        top: 0rem;
        left: 22rem;
    }

    .card-index-product{
        position: absolute;
        top: 18rem;
        width: 100%;
        left: 23.6rem;
        background-color: #eee;
        width: 40%;
        border:none;
    }

    .card-btn-product{
        position: absolute;
        top: 22.5rem;
    }

}

@media handheld, (min-width:640px) and (max-width:720px) {

    .card-product{
        height: 21rem;
        width: 100%;
    }

    .card-image-product{
        width: 14rem;
        left: -1rem;
        border-radius: 0px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .card-description-product{
        top: 0rem;
        left: 14rem;
    }

    .card-index-product{
        position: absolute;
        top: 10rem;
        width: 100%;
        left: 16rem;
        background-color: #eee;
        width: 40%;
        border:none;
    }

    .card-btn-product{
        position: absolute;
        top: 15rem;
    }

}

@media handheld, (min-width:320px) and (max-width:640px) {

    .card-product{
        height: 21rem;
        width: 100%;
    }

    .card-image-product{
        width: 8rem;
        left: -1rem;
        border-radius: 0px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .card-description-product{
        top: 0rem;
        left: 8rem;
    }

    .card-index-product{
        position: absolute;
        top: 9rem;
        width: 100%;
        left: 10rem;
        background-color: #eee;
        width: 40%;
        border:none;
    }

    .card-btn-product{
        position: absolute;
        top: 15rem;
    }

}