footer {
    width: 100%;
    background-color: #96D293;
    padding-top: 1px;
    font-size: small;
    float: none;
    margin-top: 2rem;
    clear: both;
}

.ml-3, .mx-3 {
    margin-left: 0!important;
}

footer a:hover{
    color:mintcream !important;
}


footer .navbar-brand {
    font-size: 2rem;
}



