#menuPerfilHeroe {
    display: inline-block;
    position: relative;
    top: -415px;
    right: 3.5em;
    width: 150px;
}

#menuPerfilHeroe li {
    list-style: none;
    font-weight: bold;
    margin-bottom: 2em;
}

#menuPerfilHeroe li:hover {
    border-bottom: solid 2px #96D293;
    padding-right: 1em;
}

#menuPerfilHeroe a:hover {
    color: #96D293;
}

#menuPerfilHeroe a {
    text-decoration: none;
    color: #263238;
    display: block;
}

#miPerfilConFoto {
    display: inline-block;
    width: 270px;
    height: 270px;
    position: relative;
    top: -315px;
    left: 2em;
}

#fotoHeroe {
    position: relative;
    bottom: -50px;
    border: solid 2px #96D293;
    width: 15rem;
    height: 15rem;
}

#fotoHeroe img {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

/* #editPicture{
    position: absolute;
    right:5px;
    top:5px;
    color: white;
} */

#datosPerfilHeroe {
    display: inline-block;
    width: 40%;
    margin-top: 170px;
    margin-left: 5em;
}

#botonesFormPerfilHeroe {
    margin-bottom: 5em;
}
#btnGuardarPerfilHeroe,
#btnCancelarPerfilHeroe {
    width: 100%;
}

@media handheld, (min-width:531px) and (max-width:995px) {
    #menuPerfilHeroe {
        position: unset;
        width: 100%;
        text-align: center;
    }

    #menuPerfilHeroe li {
        display: inline-block;
        margin: 0.5em 4em;
    }

    #menuPerfilHeroe li:hover {
        padding-left: 1em;
    }

    #miPerfilConFoto {
        position: unset;
        width: 100%;
        height: auto;
        margin-bottom: 4.5em;
    }

    #miPerfilConFoto h1 {
        display: none;
    }

    #fotoHeroe {
        width: 15rem;
        height: 15rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3em;
    }

    #datosPerfilHeroe {
        position: unset;
        width: 100%;
        margin: 0;
    }


}

@media handheld, screen and (max-width:530px) {

    #menuPerfilHeroe {
        position: unset;
        width: 100%;
        text-align: center;
    }

    #menuPerfilHeroe li {
        display: inline-block;
        margin: 0.5em 2.5em;
    }

    #menuPerfilHeroe li:hover {
        padding-left: 1em;
    }

    #miPerfilConFoto {
        position: unset;
        width: 100%;
        height: auto;
        margin-bottom: 4.5em;
    }

    #miPerfilConFoto h1 {
        display: none;
    }

    #fotoHeroe {
        width: 15rem;
        height: 15rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3em;
    }

    #datosPerfilHeroe {
        position: unset;
        width: 100%;
        margin: 0;
    }

    #btnGuardarPerfilHeroe,
    #btnCancelarPerfilHeroe {
        width: 90%;
    }
}
