#content{
    width: 65%;
    text-align: center;
    margin: 5rem auto 3rem;
}

.subtitulosQuienesSomos {
    margin-top: 3em;
    margin-bottom: 1.5em;
}


#ntrosProyectos h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
}

#ntrosProyectos p {
    margin-top: 1.2em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.box-line{
    border: solid 2px #96D293;
    border-radius: 0.5em;
}

#miembrosEquipo h3 {
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-weight: bold;
}

.card-member{
    text-align: center;
    position: relative;
    border:none;
    margin-bottom: 3rem;
}

.card-member h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.card-member p {
    margin-top: auto;
    margin-bottom: auto;
}

#contactanos {
    margin-top: 5em;
    margin-bottom: 4em;
}

#contactanos h3 {
    margin-bottom: 1.5em;
}

#contactanos p {
    margin-bottom: 1.5em;
}
#contactanos img {
    margin-right: 0.7em;
}

@media handheld, screen and (max-width:991px) {
    #content {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 0;
    }

    #content img {
        width: 60px;
    }

    .subtitulosQuienesSomos {
        margin-top: 1.7em;
        margin-bottom: 1em;
        text-align: center;
    }

    #ntrosProyectos h2 {
        margin-top: 1em;
        font-size: 27px;
    }

    #ntrosProyectos p {
        margin-top: 1em;
        width: 90%;
    }
}
