
/*---Shop card--- */
.card{
    height: 15rem;
    position: relative;
    border:none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-image{
    position: absolute;
    border-top-left-radius: 0.5rem;
    height: 10rem;
    width: 10rem;
}

.card-description{
    position: absolute;
    top: 1rem;
    left: 11rem;
    right: 1rem;
}

.card-btn{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}

.card-availability{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#card-reputation{
    margin-bottom: 1rem !important;
}


/*---Product card--- */

.card-product{
    height: 35rem;
    position: relative;
    border:none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-image-product{
    max-width: 100%;
    position: relative;
    margin: 1rem;
}

.card-description-product{
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.card-index-product{
    position: relative;
    text-align: center;
    top: 1rem;
    left: 0.5rem;
    margin-right:2rem;

}

.card-btn-product{
    position: absolute;
    bottom: 2rem;
    left: 2rem !important;
    right: 2rem !important;
}


/*---Profile card--- */
.card-profile{
    height: 15rem;
    position: relative;
    border:none;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 0;
}

.card-image-profile{
    position: relative;
    height: 15rem;
    width: 15rem;
    margin-top: 3rem;
}

.card-description-profile{
    margin-top: 3rem;
}


.card-btn-profile{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}

.card-availability-profile{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#card-reputation{
    margin-bottom: 1rem !important;
}


/*---map card--- */

.card-map{
    height: 8rem;
    position: relative;
    border:none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: small;
}

.card-image-map{
    position: absolute;
    height: 5rem;
    width: 5rem;
}

.card-description-map{
    position: absolute;
    bottom: auto;
    left: 6rem;
    right: 1rem;
    top: auto;
}

.card-description-map > p{
    margin: 0.5rem 0 0.5rem 0;
}

.card-btn-map{
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}

.card-availability-map{
    position: absolute;
    left: 0;
    bottom: 0;
}
.card-availability-map > p {
    margin:0;
}
#card-reputation{
    margin-bottom: 1rem !important;
}
