#contenedorDonar {
    text-align: center;
}

#imgAyuda {
    margin-top: 1em;
}

#imgDonar {
    margin-top: 1em;
    margin-bottom: 1em;
}

#subtituloDonar {
    width: 900px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 2em;
}

#donaciones {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#bordeLogo1 {
    border: solid 2px #96D293;
    border-radius: 500px;
    padding: 1em;
    width: 120px;
    height: 120px;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2.5em;
}

#donarTeloregalo img {
    width: 100%;
    padding: 0.5em;
}

#bordeLogo2 {
    border: solid 2px #96D293;
    border-radius: 500px;
    padding: 0.2em;
    width: 100px;
    height: 100px;
    margin-left: 2em;
    margin-right: auto;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#donarBcoAlimentos img,
#donarCruzRoja img {
    width: 100%;
    padding: 0.5em;
}

#donarTeloregalo {
    width: 95%;
    display: inline-block;
    border: solid 2px #96D293;
    border-radius: 0.5em;
    margin-bottom: 2em;
}

#donarTeloregalo p {
    width: 40%;
    height: 80px;
    text-align: left;
    margin-top: 40px;
    float: left;
    margin-right: 1em;
    font-size: 16px; 
}

#btnDonarTeloregalo {
    width: 11em;
    float: right;
    margin-top: 52px;
    margin-right: 1em;
    padding: 0.5em;
}

#otrasDonaciones {
    width: 100%;
}

#otrasDonaciones h5 {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold
}

#donarBcoAlimentos,
#donarCruzRoja {
    margin: 1em;
    display: inline-block;
    width: 45%;
    border: solid 2px #96D293;
    border-radius: 0.5em;
}

#otrasDonaciones p {
    margin-top: 1.7em;
}

#btnDonarBcoAlimentos,
#btnDonarCruzRoja {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
}

@media handheld, (min-width:701px) and (max-width:1385px) {
    #imgDonar {
        width: 80%;
    }
    
    #subtituloDonar {
       width: 85%;
    }

    #donaciones {
        padding-left: 5em;
        padding-right: 5em;
    }

    
    #bordeLogo1 {
        margin-left: 1em;
        margin-right: 1em;
    }

    #donarBcoAlimentos,
    #donarCruzRoja {
        width: 70%;
    }
}

@media handheld, (min-width:801px) and (max-width:1050px) {
     #donaciones {
         width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media handheld, screen and (max-width:800px) {
    #imgAyuda {
        margin-top: 0.5em;
        width: 75px;
    }

    #tituloDonar {
        font-size: 35px;
        margin-top: 0.2em;
    }
   
    #imgDonar {
        width: 100%;
    }

    #subtituloDonar {
       width: 100%;
        margin-bottom: 1.5em;
    }

    #donaciones {
        width: 100%;
        padding-left: 0em;
        padding-right: 0em;
    }

    #donarTeloregalo {
        margin-top: 0em;
    }

    #donarBcoAlimentos,
    #donarCruzRoja {
        width: 90%;
    }

    #bordeLogo1 {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    #donarTeloregalo p {
        width: 55%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        margin-top: 1.8em;
        font-size: 15px;
    }
    
    #btnDonarTeloregalo {
        width: 180px;
        float: none;
        margin-top: 1.5em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
    }
}