.fa-map-marker-alt{
    color: #96D293;
    padding-right: 0.5rem;
}

.fa-star{
color: #EEEEEE;
}

.checked{
    color: #FEEA4D;
}

.fa-clock{
    color: #96D293;
    padding-right: 0.5rem;
}

.fa-exclamation-circle{
    color: #96D293;
    padding-right: 0.5rem;
}

.fa-facebook-square{
    margin: 0.2rem;
}

.fa-instagram{
    margin: 0.2rem;
}
