header {
    width: 100%;
}

/* Inicio Cabecera Presentación */
#contenedorPresentacion {
    margin-top: -2em;
    width: 100%;
    height: auto;
    }

#presentacion {
    width: 50%;
    height: auto;
    padding-right: 0;
    padding-left: 3em;
    float: left;
    margin-bottom: 0;
}

#presentacion h1 {
    width: 100%;
    height: 87px;
    margin-top: 10rem;
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #263238;
    padding-bottom: 1em;
}

#presentacion p {
    display: inline-block;
    width: 105%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #263238;
}

#imgPresentacion {
    padding: 0;
    width: 50%;
    height: auto;
    float: right;
    margin-right: 0;
    margin-left: 0;
}

#imgPresentacion img {
    width: 110%;
    margin-top: 5em;
    height: auto;
    max-width: 110%;
}

#btnRegistroRegalo {
    margin-top: 20px;
    margin-bottom: 150px;
}

#btnRegistrar,
#btnRegalar {
    background-color: #96D293;
    color: #263238;
    border-radius: 2em;
    border: none;
    margin: 0.5em;
    display: inline-block;
    font-weight: bold;
    padding: 10px 35px;
}

#btnRegistrar:hover,
#btnRegalar:hover {
    border: #96D293 solid 2px;
    background-color: #FFFFFF;
    padding: 8px 35px;
    color: #96D293;
}
/* Fin Cabecera Presentación */

/* Inicio Búsqueda Comercios */
#contenedorBusquedaComercios {
    width: 100%;
    text-align: center;
    height: auto;
    clear: both;
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
}

#contenedorBuscador {
    max-width: 100%;
}

#buscador {
    background-color: #EAF6E9;
    margin-top: 2.5em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 2.5em;
    border-radius: 0.5em;
}

#btnUbicacion {
    background-color: #96D293;
    color: #2E2C2C;
    border-radius: 2em;
    border: none;
    padding: 6px 26px;
    font-size: 15px;
    line-height: 1em;
}

#btnUbicacion img {
    margin-right: 0.5em;
}

#btnUbicacion:hover {
    border: #96D293 solid 2px;
    background-color: rgba(255, 255, 255, 0);
    padding: 4px 28px;

}

#buscarComercio,
#ingresarDireccion {
    height: 42px;
    border: solid;
    border-color: #EBEBEB;
    color: #8E8E8E;
    background-color: #FFFFFF;
    border-radius: 0.5em;
}

#buscarComercio input,
#buscarComercio img,
#ingresarDireccion input,
#ingresarDireccion img {
    border: none;
}

#buscarComercio input,
#ingresarDireccion input {
    font-size: 13px;
    text-align: center;
    padding: 1.5em;
}

#buscarComercio button,
#ingresarDireccion button {
    padding: 0.1em;
    background-color: rgba(140, 193, 137, 0.1);
}
/* Fin Búsqueda Comercios */

/* Inicio Tarjetas */
#contenedorTarjetas {
    width: 100%;
    height: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    overflow: hidden;

}
.map{
    height: 30rem;
    width: 100%;
}

.scrollable {
    overflow-y: scroll;
    height: 30rem;
}
/* Fin Tarjetas */


@media handheld, (min-width:992px) and (max-width:1220px) {
    #imgPresentacion {
        float: none;
        width: 50%
    }

    #imgPresentacion img {
        margin-top: 0.5em;
    }

    #presentacion {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    #presentacion h1 {
        width: 100%;
        margin-top: 0;
        font-size: 43px;
    }

    #presentacion p {
        width: 100%;
        margin-top: 5px;
        font-size: 17.5px;
        line-height: 30px;
    }

    #btnRegistroRegalo {
        margin-top: 1em;
        margin-bottom: 0;
    }

    #btnRegistrar,
    #btnRegalar {
        margin: 0;
        padding: 10px 10px;
        font-weight: normal;
    }

    #btnRegistrar {
        width: 55%;
    }

    #btnRegalar {
        width: 43%;
    }

    #buscador {
        padding-left: 2em;
        padding-right: 2em;
    }

    #btnUbicacion {
        font-size: 14px;
        padding: 6px 15px;
    }

    #btnUbicacion img {
       width: 25px;
       height: 25px;
    }
}

@media handheld, screen and (max-width:991px) {

#imgPresentacion {
    float: none;
    width: 50%
}

#imgPresentacion img {
    margin-top: 0.5em;
}

#presentacion {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#presentacion h1 {
    width: 100%;
    margin-top: 0;
    font-size: 34px;
    margin-bottom: 0;
}

#presentacion p {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    line-height: 30px;
}

#btnRegistroRegalo {
    margin-top: 0;
    margin-bottom: 0;
}

#btnRegistrar,
#btnRegalar {
    margin: 0;
    padding: 10px 10px;
    font-weight: normal;
}

#btnRegistrar {
    width: 55%;
}

#btnRegalar {
    width: 43%;
}

#contenedorBusquedaComercios {
    margin-bottom: 2em;
}

#contenedorBuscador h1 {
    font-size: 35px;
    padding-top: 1em;
    margin-bottom: 0;
}

#buscador {
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 0.6em;
}

#btnUbicacion {
    font-size: 14px;
    margin-bottom: 1em;
}

#btnUbicacion img {
   width: 25px;
   height: 25px;
}

#buscarComercio,
#ingresarDireccion {
    margin-bottom: 0.7em;
}

#buscarComercio input,
#ingresarDireccion input {
    text-align: left;
}

#contenedorTarjetas {
    margin-top: 2em;
}
    .scrollable {
      margin-top: 2rem;
    }
}
