#LogIn{
    text-align: left;
    margin: 5rem auto;

}
#btnIngreso {
    font-weight: 600;
    font-size: 1.2rem;
}

#btnLogInHeroeGmail,
#btnLogInHeroeFace {
    font-weight: bold;
}
a{
    color: #2E2C2C;
}
a:hover{
    text-decoration: none;
    color:#96D293 ;
}

.form-check-input {
    position: relative !important;
}
