#menuMisProductos {
    width: 20%;
    float: left;
    margin-top: 70px;
    margin-right: 0;
    margin-left: -40px;
}

#menuMisProductos li {
    list-style: none;
    font-weight: bold;
    margin-bottom: 2em;
}

#menuMisProductos a:hover {
    border-bottom: solid 2px #96D293;
    color: #96D293;
}

#menuMisProductos a {
    text-decoration: none;
    color: #263238;
}



#misProductos {
    width: 100%;
    height: auto;
}

#misProductos h1 {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#tarjetasMisProductos,
#formProductos {
    width: 40%;
    height: auto;
    display: inline-block;
}

#tarjProducto {
    border: solid 2px #96D293;
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding-right: 0.5em;
    min-height: 180px;
}

#tarjProducto img {
    float: left;
    border: solid 1px #96D293;
    border-radius: 0.5em;
    margin: 1em;
    width: 140px;
    height: 140px;
    object-fit: contain;
}

#tarjProducto #eliminar {
    float: right;
    padding: 1em;
    cursor: pointer;
    border: none;
    margin: 0;
    width: 50px;
    height: auto;
}

#nombreProducto {
    margin-top: 1em;
    font-weight: bold;
}

#descrProducto {
    padding-right: 0.2em;
}

#precioProd {
    margin-left: 1em;
    font-weight: bold;
}

#formProductos {
    float: right;
    padding: 1.5em;
    border: solid 2px #96D293;
    border-radius: 0.5em;
    margin-bottom: 4em;
    margin-top: 9.7em;
}

#imgAgregarProd {
    width: 180px;
    height: 180px;
    border: solid 2px #96D293;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#imgAgregarProd img {
    object-fit: contain;
    width: 100%;
}

#formProductos label {
    margin-bottom: 0;
    text-align: left;
}

#formProductos button {
    margin-top: 2em;
}

@media handheld, (min-width:531px) and (max-width:995px) {

    #menuMisProductos {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #menuMisProductos ul {
        margin: 0;
        padding: 0;
    }

    #menuMisProductos li {
        display: inline-block;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0.5em;
    }



    #misProductos h1 {
       text-align: left;
       padding-top: 0;
    }

    #tarjetasMisProductos,
    #formProductos {
        width: 45%;
        margin-left: 0;
    }

    #formProductos {
    margin-top: 6em;
    }

    #descrProducto {
        font-size: 15px;
    }
}

@media handheld, screen and (max-width:530px) {
    #menuMisProductos {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #menuMisProductos ul {
        margin: 0;
        padding: 0;
        padding-inline-start:0;
    }

    #menuMisProductos li {
        display: inline-block;
        text-align: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }

    #menuMisProductos li:hover
    {
        display: inline-block;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }


    #misProductos h1 {
        display: none;
     }

    #tarjetasMisProductos,
    #formProductos {
        width: 100%;
        display: block;
    }

    #formProductos {
        float: none;
        margin-top: 0.5em;
        border: none;
        width: 100%;
        padding: 0;
    }

    #imgAgregarProd {
        width: 170px;
        height: 170px;
    }

    #tarjProducto img {
        float: left;
        margin: 0.8em;
        width: 120px;
        height: 120px;
    }

    #descrProducto {
        padding-left: 1em;
    }

}
